@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

body * {
    font-family: 'Saira Condensed', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(222, 74, 74);
}

.wrapper {
    width: 70%;
    background-color: white;
    border-radius: 14px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;

}



.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 14px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    width: 80%;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;

}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #a09998;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 14px;
}
button:hover{
    background: #000;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    overflow-wrap: break-word;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('img/check_empty_icon.png');
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: $555;
    text-decoration: line-through;

}

ul li.checked::before {
    background-image: url('img/check_icon.png');
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background-color: #edeef0;
}

@media(max-width: 1024px) {
    input, button {
        display: block;
    }

    input {
        width: 80%;
    }

    button {
        width: 20%;
        padding: 5px;
        border-radius: 5px;
    }

}